body{
    margin: 0;
    padding: 0;
}
.Navbar{
    background-color: blue;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.Navbar ul{
    list-style: none;
    display: flex;
    padding: 5px;
}
.Navbar li{
    flex-direction: column;
    align-content: space-between;
    margin: 0 20px  0 20px;
    text-align: center;
}
