body{
    margin: 0;
    padding: 0;
}
.Topnav{
    top: 0;
    width: 100%;
    position: fixed;
    background-color: blue;
    max-height: 50px;
    display: flex;
}

.logo{
    text-align: left;
    color: white;
    font-size: 1.4em;
}



.Navbar{
    background-color: blue;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.Navbar ul{
    display: flex;
    list-style: none;
}
.nav{
    float: left;
}
.nav-right{
    float: right;
}

.Navbar li{
    align-content: space-between;
    text-align: center;
    margin: 0 20px 20px 0;
}

li p{
    margin: 0;
    padding-top: 2px;
}

ul a{
    text-decoration: none;
    color: #fff;
}

@media screen  and (max-width: 600px) {
    .Navbar li{
        margin: auto 10px;
    }
    
}